body.dark-theme {
  background-color: #121212;
  color: #ffffff;

  .header {
    background-color: #1E1E1E;
  }

  .hero {
    background-color: #121212;
  }

  .contact-btn {
    color: #ffffff;
  }

  .theme-change {
    color: #ffffff;
  }
}
